<section class="content-dashboard-country-profile mt-5">
    <h1>{{ post.title }}</h1>
    <div class="content-graph">
        <canvas id="bar-chart-grouped" class="mt-5" width="800" height="450"></canvas>
        <canvas id="radar-chart" width="800" height="600"></canvas>
        <canvas id="bar-chart" width="800" height="450"></canvas>
    </div>
</section>